<a href="https://colab.research.google.com/github/NaturalWaterCider/asobi1/blob/main/%E3%81%82%E3%81%9D%E3%81%B31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd

In [88]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [89]:
# 路線データ取得
lines = pd.read_csv('/content/drive/MyDrive/Data/asobi1/line20210312free.csv')
# 駅データ取得
stations = pd.read_csv('/content/drive/MyDrive/Data/asobi1/station20210312free.csv')

In [90]:
lines.head(5)

   line_cd  company_cd line_name  ... zoom e_status e_sort
0     1001           3     中央新幹線  ...    8        1   1001
1     1002           3    東海道新幹線  ...    7        0   1002
2     1003           4     山陽新幹線  ...    7        0   1003
3     1004           2     東北新幹線  ...    7        0   1004
4     1005           2     上越新幹線  ...    8        0   1005

[5 rows x 13 columns]

In [91]:
stations.head(5)

   station_cd  station_g_cd station_name  ...   close_ymd  e_status   e_sort
0     1110101       1110101           函館  ...  0000-00-00         0  1110101
1     1110102       1110102          五稜郭  ...  0000-00-00         0  1110102
2     1110103       1110103           桔梗  ...  0000-00-00         0  1110103
3     1110104       1110104          大中山  ...  0000-00-00         0  1110104
4     1110105       1110105           七飯  ...  0000-00-00         0  1110105

[5 rows x 15 columns]

In [92]:
#ほしい路線の路線コードだけとってくる
lines = lines[lines.line_name.str.contains('JR山手線|東京メトロ|都営|都電')]

In [93]:
lines = lines['line_cd']

In [94]:
lines

62     11302
282    28001
283    28002
284    28003
285    28004
286    28005
287    28006
288    28008
289    28009
290    28010
401    99301
402    99302
403    99303
404    99304
405    99305
Name: line_cd, dtype: int64

In [95]:
# ほしい路線の駅だけとってくる
stations = stations.query("line_cd in @lines")

In [96]:
# 重複をなくす(いちがやは諦める)
stations = stations['station_name'].unique()

In [97]:
stations

array(['大崎', '五反田', '目黒', '恵比寿', '渋谷', '原宿', '代々木', '新宿', '新大久保', '高田馬場',
       '目白', '池袋', '大塚', '巣鴨', '駒込', '田端', '西日暮里', '日暮里', '鶯谷', '上野',
       '御徒町', '秋葉原', '神田', '東京', '有楽町', '新橋', '浜松町', '田町', '高輪ゲートウェイ',
       '品川', '浅草', '田原町', '稲荷町', '上野広小路', '末広町', '三越前', '日本橋', '京橋', '銀座',
       '虎ノ門', '溜池山王', '赤坂見附', '青山一丁目', '外苑前', '表参道', '新大塚', '茗荷谷', '後楽園',
       '本郷三丁目', '御茶ノ水', '淡路町', '大手町', '霞ケ関', '国会議事堂前', '四ツ谷', '四谷三丁目',
       '新宿御苑前', '新宿三丁目', '西新宿', '中野坂上', '新中野', '東高円寺', '新高円寺', '南阿佐ケ谷',
       '荻窪', '中野新橋', '中野富士見町', '方南町', '北千住', '南千住', '三ノ輪', '入谷', '仲御徒町',
       '小伝馬町', '人形町', '茅場町', '八丁堀', '築地', '東銀座', '日比谷', '虎ノ門ヒルズ', '神谷町',
       '六本木', '広尾', '中目黒', '中野', '落合', '早稲田', '神楽坂', '飯田橋', '九段下', '竹橋',
       '門前仲町', '木場', '東陽町', '南砂町', '西葛西', '葛西', '浦安', '南行徳', '行徳', '妙典',
       '原木中山', '西船橋', '北綾瀬', '綾瀬', '町屋', '千駄木', '根津', '湯島', '新御茶ノ水',
       '二重橋前', '赤坂', '乃木坂', '明治神宮前〈原宿〉', '代々木公園', '代々木上原', '和光市', '地下鉄成増',
       '地下鉄赤塚', '平和台', '氷川台', '小竹向原', '千川', '要町', '東池袋', '護国寺', '江戸川橋',
       '市ケ谷', '麹町', '永田町', '桜田門', '銀座一丁目', '新富町', '月島', '豊洲', '辰巳', '新木場',
       '半蔵門', '神保町', '水天宮前', '清澄白河', '住吉', '錦糸町', '押上〈スカイツリー前〉', '赤羽岩淵',
       '志茂', '王子神谷', '王子', '西ケ原', '本駒込', '東大前', '六本木一丁目', '麻布十番', '白金高輪',
       '白金台', '雑司が谷', '西早稲田', '東新宿', '北参道', '都庁前', '新宿西口', '若松河田', '牛込柳町',
       '牛込神楽坂', '春日', '上野御徒町', '新御徒町', '蔵前', '両国', '森下', '勝どき', '築地市場',
       '汐留', '大門', '赤羽橋', '国立競技場', '西新宿五丁目', '東中野', '中井', '落合南長崎', '新江古田',
       '練馬', '豊島園', '練馬春日町', '光が丘', '西馬込', '馬込', '中延', '戸越', '高輪台', '泉岳寺',
       '三田', '宝町', '東日本橋', '浅草橋', '本所吾妻橋', '押上（スカイツリー前）', '芝公園', '御成門',
       '内幸町', '水道橋', '白山', '千石', '西巣鴨', '新板橋', '板橋区役所前', '板橋本町', '本蓮沼',
       '志村坂上', '志村三丁目', '蓮根', '西台', '高島平', '新高島平', '西高島平', '曙橋', '市ヶ谷',
       '小川町', '岩本町', '馬喰横山', '浜町', '菊川', '西大島', '大島', '東大島', '船堀', '一之江',
       '瑞江', '篠崎', '本八幡', '三ノ輪橋', '荒川一中前', '荒川区役所前', '荒川二丁目', '荒川七丁目',
       '町屋駅前', '町屋二丁目', '東尾久三丁目', '熊野前', '宮ノ前', '小台', '荒川遊園地前', '荒川車庫前',
       '梶原', '栄町', '王子駅前', '飛鳥山', '滝野川一丁目', '西ヶ原四丁目', '新庚申塚', '庚申塚',
       '巣鴨新田', '大塚駅前', '向原', '東池袋四丁目', '都電雑司ヶ谷', '鬼子母神前', '学習院下', '面影橋'],
      dtype=object)

In [98]:
import random

In [99]:
# 目的地を選ぶ
dest = random.choice(stations)
print(dest)

光が丘